<!--Displaying providioned title or redirecting response to default index route-->
<%if (title) {%>
    <h1><%=title%></h1>
<%} else{
    res.redirect('/')
}%>

<!--Displaying messages in the view-->
<%- messages() %>

<!--Displaying errors if any-->
<% if (errors){%>
    <ul class="notice">
        <% errors.array().forEach(error => { %>
            <li><%= error.msg %></li>
        <% }) %>
    </ul>
<%}%>

<!--Login Form-->
<form class="login" action="/account/register" method="post">
        <p>*All fields are required for registration.</p>
        <label for="account_firstname">First name:*</label>
        <input  type="text" id="account_firstname" name="account_firstname" required title="Type your first name" placeholder="Your first name" value="<%=locals.account_firstname%>">
        
        <label for="account_lastname">Last name:*</label>
        <input  type="text" id="account_lastname" name="account_lastname" required title="Type your last name" placeholder="Your last name" value="<%=locals.account_lastname%>">
        
        <label for="account_email">Email:*</label>
        <input type="email" id="account_email" name="account_email" required title="Enter a valid email address" placeholder="john@mail.com" value="<%=locals.account_email%>">
        
        <label for="account_password">Password:*</label>
        <span>Passwords must be at least 12 characters and contain at least 1 number, 1 capital letter and 1 special character</span>
        <input  type="password" id="account_password" name="account_password" required title="Type a valid password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$">

        <button id="btnPwd">Show Password</button>
        <button type="submit">Register</button>
</form>
<script src="/js/script.js"></script>
