<!--Displaying providioned title or redirecting response to default index route-->
<%if (title) {%>
    <h1><%=title%></h1>
<%} else{
    res.redirect('/')
}%>

<!--Displaying any flash message-->
<%-messages() %>

<!--Displaying errors if any-->
<% if (errors){%>
    <ul class="notice">
        <% errors.array().forEach(error => { %>
            <% if(error.msg != "Invalid value"){%>
                <li> <%=error.msg%> </li>
            <%}%>
        <% }) %>
    </ul>
<%}%>


<form action="/inv/delete" method="post">

    <p><strong>Confirm Deletion</strong> - The delete is permanent.</p>

    <label for="inv_make">Make:*</label>
    <input  type="text" id="inv_make" name="inv_make" readonly value="<%=locals.inv_make%>">
    
    <label for="inv_model">Model:*</label>
    <input  type="text" id="inv_model" name="inv_model" readonly value="<%=locals.inv_model%>">
    
    <label for="inv_year">Year:*</label>
    <input  type="text" id="inv_year" name="inv_year" readonly value="<%=locals.inv_year%>">
    
    <label for="inv_price">Price:*</label>
    <input  type="number" id="inv_price" name="inv_price" readonly value="<%=locals.inv_price%>"> 
    
    <input type="hidden" name="inv_id" <% if(locals.inv_id){ %>
        value="<%=locals.inv_id%>"
        <% } %>>

    <button type="submit">DELETE Vehicle</button>
</form>